* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: #fff;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

section .container {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	padding: 60px 0;
}

.section-header {
	width: 30%;
}

.section-content {
	width: 70%;
}

section i {
	margin-top: 10px;
}

.container {
	width: 900px;
	margin: 0px auto;
}

/*Header*/

header {
	background-image: linear-gradient(rgba(0,131,176,0.7), rgba(0,180,219,0.7))
									, url('../img/header-bg-1.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

nav {
	float: right;
	padding-top: 20px;
}

nav li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	color: white;
	padding-left: 13px;
}

nav a::after {
	content: '';
	transform: translateX(13px);
	display: block;
	width: 0;
	margin-top: 2px;
	height: 2px;
	background: #fff;
	transition: width 0.3s ease-in-out;
}

nav a:hover::after {
	width: 80%;
}

.header-content {
	padding-top: 250px;
	padding-bottom: 250px;	
  text-align: left;
}

.header-content h1 {
  font-size: 350%;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.header-content h2 {
  font-size: 160%;
  letter-spacing: 0.05em;
  font-style: italic;
  color: #a1c6de;
}

.resume-btn{
	margin-top: 17px;
	width: 15.5%;
	display: block;
	padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid white;
  transition: all 0.5s;
}

.resume-btn:hover{
  color: rgba(33,125,187,0.8);
  background: white;
}

/*About Me*/

#about h2 {
	color: #00a9e3;
}

#about h2::after {
	content: ' ';
	display: block;
	width: 133px;
	height: 3px;
	background: #00a9e3;
	margin-top: 10px;
}

#about img {
	margin-top: 20px;
	width: 133px;
	height: 200px;
	border-radius: 10%;
}

.about-me-content {
  font-size: 85%;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: #244272;
}

/*Education*/

#education {
	background: linear-gradient(#0083B0, #00B4DB);
}

#education h2::after {
	content: '';
	display: block;
	width: 133px;
	height: 3px;
	background: #fff;
	margin-top: 10px;
}

.education-block {
  border: 1.5px solid lightblue;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 15px;
}

.education-block h3 {
	font-size: 140%;
}

.degree {
  color: #a1c6de;
  font-style: italic;
}

.education-content h4 {
	margin-top: 5px;
}

.education-content p {
	margin-top: 3px;
	font-size: 88%;
}

.education-date{
  float: right
}

/*Project*/

#project {
	color: black;
}

#project h2, #project i {
	color: #00a9e3;
}

#project h2::after {
	content: ' ';
	display: block;
	width: 96px;
	height: 3px;
	background: #00a9e3;
	margin-top: 10px;
}

.project-container {
	position: relative;
	height: 270px;
	width: 47%;
  margin-bottom: 15px;
  display: inline-block;
  overflow: hidden;
}

.project-container img {
	height: 100%;
	width: 100%;
  border: 2px solid lightblue;
  border-radius: 10px;
	transition: all 0.5s;
}

.project-container:nth-child(odd) {
	margin-right: 5%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 100%;	
	overflow: hidden;
	background-color: rgba(242, 252, 243, 0.7);
	width: 0;
	height: 100%;
	transition: all 0.5s ease-in-out;
}

.project-container:hover {
	cursor: pointer;
}

.project-container:hover .overlay {
	left: 0;
	width: 100%;
}

.project-container:hover img {
	transform: scale(1.2);
	filter: blur(5px);
}

/*Skill*/
/*.skill-language h2{
    margin: 0;
    float: right;
}

.other-langs label{
    font-size: 30px;
}

.pb {
    padding-top: 8px;
}*/

/*Contact*/
/*.contact-email, .contact-wx {
    color: white;
}

.contact-email i, .contact-wx i {
    float: right;
}

.contact-email h4, .contact-wx h4 {
    float: left;
}

.clear-float:after{
    display: block;
    content: "";
    clear: both;
}*/

/*New style when view on small screen device*/
/*@media screen and (max-width: 1080px) {
    .about-me-content {
        margin-left: 0;
    }
    .skill-language h2, .contact-email i, .contact-wx i,
    .contact-email h4, .contact-wx h4 {
        float: none;
    }
    .project-content {
        height: 350px;
    }
    .contact-info {
        text-align: center;
    }
    .about-content img {
        width: 300px;
        /*float: left;*/
    }
}*/
