* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: #fff;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

section .container {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 60px 0;
}

.section-header {
	width: 30%;
}

.section-content {
	width: 70%;
}

section i {
	margin-top: 10px;
}

.container {
	width: 1140px;
	margin: 0px auto;
}

/*Header*/

header {
	background-image: linear-gradient(rgba(0,131,176,0.7), rgba(0,180,219,0.7))
									, url('../img/header-bg-1.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

nav {
	float: right;
	padding-top: 20px;
}

nav li {
	list-style: none;
	display: inline-block;
}

.fa-bars {
	display: none;
}

a {
	text-decoration: none;
	color: white;
	padding-left: 13px;
}

nav a::after {
	content: '';
	transform: translateX(13px);
	display: block;
	width: 0;
	margin-top: 2px;
	height: 2px;
	background: #fff;
	transition: width 0.3s ease-in-out;
}

nav a:hover::after {
	width: 80%;
}

.header-content {
	padding-top: 250px;
	padding-bottom: 250px;	
  text-align: left;
}

.header-content h1 {
  font-size: 350%;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.header-content h2 {
  font-size: 160%;
  letter-spacing: 0.05em;
  font-style: italic;
  color: #a1c6de;
}

.resume-btn{
	margin-top: 17px;
	width: 12.5%;
	display: block;
	padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid white;
  transition: all 0.5s;
}

.resume-btn:hover{
  color: rgba(33,125,187,0.8);
  background: white;
}

/*About Me*/

#about h2 {
	color: #00a9e3;
}

#about h2::after {
	content: ' ';
	display: block;
	width: 155px;
	height: 3px;
	background: #00a9e3;
	margin-top: 10px;
}

#about img {
	margin-top: 20px;
	width: 133px;
	height: 200px;
	border-radius: 10%;
}

.about-me-content {
  font-size: 85%;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: #244272;
}

/*Education*/

#education {
	background: linear-gradient(#0083B0, #00B4DB);
}

#education h2::after {
	content: '';
	display: block;
	width: 175px;
	height: 3px;
	background: #fff;
	margin-top: 10px;
}

.education-block {
  border: 1.5px solid lightblue;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 15px;
}

.education-block h3 {
	font-size: 140%;
}

.degree {
  color: #a1c6de;
  font-style: italic;
}

.education-content h4 {
	margin-top: 5px;
}

.education-content p {
	margin-top: 3px;
	font-size: 88%;
}

.education-date{
  float: right
}

/*Project*/

#project h2, #project i {
	color: #00a9e3;
}

#project h2::after {
	content: ' ';
	display: block;
	width: 145px;
	height: 3px;
	background: #00a9e3;
	margin-top: 10px;
}

.project-container {
	position: relative;
	height: 270px;
	width: 47%;
  margin-bottom: 15px;
  display: inline-block;
  overflow: hidden;
}

.project-container img {
	height: 100%;
	width: 100%;
  border: 2px solid lightblue;
  border-radius: 10px;
  filter: grayscale(50%);
	transition: all 0.5s;
}

.project-container:nth-child(odd) {
	margin-right: 5%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 100%;	
	background-color: rgba(242, 252, 243, 0.7);
	width: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #00a9e3;
	transition: all 0.5s ease-in-out;
}

.project-description {
	padding: 0 5px;
	opacity: 0;
	width: 100%;
	white-space: nowrap;
	transition: opacity 0.5s 0.5s ease-in-out;
	display: flex;
	justify-content: space-evenly;
}

.project-description i:hover {
	cursor: pointer;
}

.project-container:hover .overlay {
	left: 0;
	width: 100%;
}

.project-container:hover .project-description {
	opacity: 1;
}

.project-container:hover img {
	transform: scale(1.2);
	filter: blur(5px);
}

/*Skill*/

#skill {
	background: linear-gradient(#0083B0, #00B4DB);
}

#skill h2::after {
	content: '';
	display: block;
	width: 128px;
	height: 3px;
	background: #fff;
	margin-top: 10px;
}

#skill .section-content {
	display: flex;
	flex-wrap: wrap;
}

.skill-block {
	width: 15%;
	text-align: center;
	margin-right: 20%;
	margin-bottom: 40px;
	font-size: 80%;
}

.skill-block:nth-child(3n) {
	margin-right: 0;
}

.skill-block img {
	width: 100%;
}

/*Contact*/
#contact h2, #contact i {
	color: #00a9e3;
}

#contact h2::after {
	content: '';
	display: block;
	width: 138px;
	height: 3px;
	background: #00a9e3;
	margin-top: 10px;
}

#contact .section-content {
  font-size: 120%;
  font-weight: 400;
  letter-spacing: 1px;
  color: #244272;
}

#contact a {
	display: block;
	margin-top: 10px;
	padding-left: 0;
}

/*New style when view on small screen device*/
@media screen and (max-width: 1280px) {
	.container {
		width: 900px;
	}

	.resume-btn{
		width: 15.5%;
	}
}

@media screen and (max-width: 980px) {
	.container {
		width: 700px;
	}

	.resume-btn{
		width: 20%;
	}
}

@media screen and (max-width: 760px) {
	.container {
		width: 500px;
	}

	.resume-btn{
		width: 28%;
	}

	.header {
		position: relative;
	}

	.header-content h1 {
 	 font-size: 300%;
	}

	.header-content h2 {
	  font-size: 140%;
	}

	.section-header {
		text-align: center;
		width: 100%;
	}

	.section-header i {
		margin-bottom: 30px;
	}

	.section-header img {
		margin-bottom: 30px;
	}

	.section-content {
		width: 100%;
	}

	nav ul {
		background: blue;
		position: absolute;
		left: -25%;
		top: 0;
		width: 25%;
		height: 660px;
	}

	nav ul .responsive {
		left: 0;
	}

	nav li {
		display: block;
	}

	nav li:first-child {
		padding-top: 18px;
	}

	.fa-bars {
		display: block;
		transition: all 0.5s
	}

	.fa-bars:hover {
		/*color: #00B4DB;*/
		cursor: pointer;
	}

	#about h2::after {
		transform: translateX(112%);
	}

	#education h2::after {
		transform: translateX(94%);
	}

	#project h2::after {
		transform: translateX(123%);
	}

	#skill h2::after {
		transform: translateX(146%);
	}

	#contact h2::after {
		transform: translateX(132%);
	}

	.skill-block {
		margin-right: 27.5%;
	}

	#contact .section-content {
		text-align: center;
	}
}