* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300;
}

body {
  font-size: 62.5%;
  background-color: rgb(226, 226, 226);
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 90em;
  height: 100%;
  margin: 2.5em auto 0 auto;
  display: flex;
}