* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: #fff;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

section .container {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 60px 0;
}

.section-header {
	width: 30%;
}

.section-content {
	width: 70%;
}

section i {
	margin-top: 10px;
}

.container {
	width: 1140px;
	margin: 0px auto;
	opacity: 0;
	transition: all 1s;
}

.container.fadeIn {
	opacity: 1;
}

/*Header*/

header {
/*	background-image: linear-gradient(rgba(0,131,176,0.7), rgba(0,180,219,0.7))
									, url('../img/header-bg-1.jpg');*/
	background: linear-gradient(#0083B0, #00B4DB);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

nav {
	float: right;
	padding-top: 20px;
}

nav li {
	list-style: none;
	display: inline-block;
	padding-left: 13px;
}

.fa-bars {
	display: none;
}

a {
	text-decoration: none;
	color: white;
}

.fa-times-circle {
	display: none;
}

nav li::after {
	content: '';
	display: block;
	width: 0;
	margin-top: 2px;
	height: 2px;
	background: #fff;
	transition: width 0.3s ease-in-out;
}

nav li:hover {
	cursor: pointer;
}

nav li:hover::after {
	width: 100%;
}

.header-content {
	padding-top: 250px;
	padding-bottom: 250px;	
  text-align: left;
}

.header-content h1 {
  font-size: 350%;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.header-content h2 {
  font-size: 160%;
  letter-spacing: 0.05em;
  font-style: italic;
  color: #a1c6de;
}

.resume-btn{
	margin-top: 17px;
	width: 12.5%;
	display: block;
	padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid white;
  transition: all 0.5s;
}

.resume-btn:hover{
  color: rgba(33,125,187,0.8);
  background: white;
}

/*About Me*/

#about h2 {
	color: #00a9e3;
}

#about h2::after {
	content: ' ';
	display: block;
	width: 155px;
	height: 3px;
	background: #00a9e3;
	margin-top: 10px;
}

#about img {
	margin-top: 20px;
	width: 133px;
	height: 200px;
	border-radius: 10%;
}

.about-me-content {
  font-size: 85%;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: #244272;
}

/*Education*/

#education {
	background: linear-gradient(#0083B0, #00B4DB);
}

#education h2::after {
	content: '';
	display: block;
	width: 175px;
	height: 3px;
	background: #fff;
	margin-top: 10px;
}

.education-block {
  border: 1.5px solid lightblue;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 15px;
}

.education-block h3 {
	font-size: 140%;
}

.degree {
  color: #a1c6de;
  font-style: italic;
}

.education-content h4 {
	margin-top: 5px;
}

.education-content p {
	margin-top: 3px;
	font-size: 88%;
}

.education-date{
  float: right
}

/*Project*/

#project h2, #project i {
	color: #00a9e3;
}

#project h2::after {
	content: ' ';
	display: block;
	width: 145px;
	height: 3px;
	background: #00a9e3;
	margin-top: 10px;
}

.project-container {
	position: relative;
	height: 270px;
	width: 47%;
  margin-bottom: 15px;
  display: inline-block;
  overflow: hidden;
}

.project-container img {
	height: 100%;
	width: 100%;
  border: 2px solid lightblue;
  border-radius: 10px;
  filter: grayscale(50%);
	transition: all 0.5s;
}

.project-container:nth-child(odd) {
	margin-right: 5%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 100%;	
	background-color: rgba(242, 252, 243, 0.7);
	width: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #00a9e3;
	transition: all 0.5s ease-in-out;
}

.project-description {
	padding: 0 5px;
	opacity: 0;
	width: 100%;
	white-space: nowrap;
	transition: opacity 0.5s 0.5s ease-in-out;
	display: flex;
	justify-content: space-evenly;
}

.project-description i:hover {
	cursor: pointer;
}

.project-container:hover .overlay {
	left: 0;
	width: 100%;
}

.project-container:hover .project-description {
	opacity: 1;
}

.project-container:hover img {
	transform: scale(1.2);
	filter: blur(5px);
}

/*Skill*/

#skill {
	background: linear-gradient(#0083B0, #00B4DB);
}

#skill h2::after {
	content: '';
	display: block;
	width: 128px;
	height: 3px;
	background: #fff;
	margin-top: 10px;
}

#skill .section-content {
	display: flex;
	flex-wrap: wrap;
}

.skill-block {
	width: 15%;
	text-align: center;
	margin-right: 20%;
	margin-bottom: 40px;
	font-size: 80%;
}

.skill-block:nth-child(3n) {
	margin-right: 0;
}

.skill-block img {
	width: 100%;
}

/*Contact*/
#contact h2, #contact i {
	color: #00a9e3;
}

#contact h2::after {
	content: '';
	display: block;
	width: 138px;
	height: 3px;
	background: #00a9e3;
	margin-top: 10px;
}

#contact .section-content {
  font-size: 120%;
  font-weight: 400;
  letter-spacing: 1px;
  color: #244272;
}

#contact a {
	display: block;
	margin-top: 10px;
	padding-left: 0;
}

/*New style when view on small screen device*/
@media screen and (max-width: 1280px) {
	.container {
		width: 900px;
	}

	.resume-btn{
		width: 15.5%;
	}
}

@media screen and (max-width: 980px) {
	.container {
		width: 700px;
	}

	.resume-btn{
		width: 20%;
	}
}

@media screen and (max-width: 760px) {
	.container {
		width: 500px;
	}

	.resume-btn{
		width: 28%;
	}

	header {
		background: linear-gradient(#0083B0, #00B4DB);
	}

	header, section {
		transition: all 0.5s;
	}

	.header-content h1 {
 	 font-size: 300%;
	}

	.header-content h2 {
	  font-size: 140%;
	}

	.section-header {
		text-align: center;
		width: 100%;
	}

	.section-header i {
		margin-bottom: 30px;
	}

	.section-header img {
		margin-bottom: 30px;
	}

	.section-content {
		width: 100%;
	}

	.fa-times-circle {
		display: block;
		position: absolute;
		top: 5px;
		left: 13px;
	}

	.fa-times-circle {
		cursor: pointer;
	}

	nav ul {
		background: #39ccff;
		position: fixed;
		left: 0;
		top: 0;
		width: 0;
		height: 100vh;
		padding-top: 45px;
		overflow-x: hidden;
		transition: width 0.5s;
	}

	nav li {
		display: block;
		margin-top: 20px;
		padding-left: 3px;
	}

	nav li:hover::after {
		width: 50%;
	}

	.fa-bars {
		display: block;
		color: #39ccff;
		transition: all 0.5s;
	}

	.fa-bars:hover {
		/*color: #00B4DB;*/
		cursor: pointer;
	}

	#about h2::after {
		transform: translateX(112%);
	}

	#education h2::after {
		transform: translateX(94%);
	}

	#project h2::after {
		transform: translateX(123%);
	}

	#skill h2::after {
		transform: translateX(146%);
	}

	#contact h2::after {
		transform: translateX(132%);
	}

	.skill-block {
		margin-right: 27.5%;
	}

	#contact .section-content {
		text-align: center;
	}
}

@media screen and (max-width: 650px) { 
	.container {
		width: 400px;
	}

	.resume-btn{
		width: 35%;
	}

	#about h2::after {
		transform: translateX(80%);
	}

	#education h2::after {
		transform: translateX(64%);
	}

	#project h2::after {
		transform: translateX(87%);
	}

	#skill h2::after {
		transform: translateX(106%);
	}

	#contact h2::after {
		transform: translateX(95%);
	}
}

@media screen and (max-width: 512px) { 
	html {
		font-size: 16px;
	}

	.container {
		width: 245px;
	}

	.resume-btn{
		width: 48%;
	}

	.header-content {
		padding: 180px 0;
	}

	#about h2::after {
		transform: translateX(30%);
	}

	#education h2::after {
		transform: translateX(22%);
	}

	#project h2::after {
		transform: translateX(36%);
	}

	#skill h2::after {
		transform: translateX(50%);
	}

	#contact h2::after {
		transform: translateX(43%);
	}

	.education-date {
		float: none;
		font-size: 120%;
		margin-bottom: 6px;
	}

	.project-container {
		width: 100%;
	}
}

@media screen and (max-width: 376px) { 
	html {
		font-size: 14px;
	}

	.container {
		width: 245px;
	}

	.resume-btn{
		width: 43%;
	}

	.header-content {
		padding: 160px 0;
	}
}